#DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/ft_transcendence"

#NEEDED FOR GOOGLE AUTHENTICATION
#Google OAuth - Use the client ID and secret from your Google Cloud OAuth app; 
#these values are specific to your project and remain the same unless you regenerate or replace them.
GOOGLE_CLIENT_ID="yourgoogleclientid"
GOOGLE_CLIENT_SECRET="yourgoogleclientsecret"

# Auth (NextAuth / Auth.js)
# AUTH_SECRET changes per setup
AUTH_SECRET="yournextauthsecret"
AUTH_URL="http://localhost:3000"
